*.autosave
*.db
*.o
*.psp
*.pyc
*.pyo
*.swo
*.swp
*.tar
*.pid
*.log
*.osz
*.swm
*.swn
cgisess_*
.DS_Store
.idea
.vscode
.vstags
.history
.history/*
tags
*/bck/*
bck_*
dbLifeLog/current_theme
lighttpd.conf
dump_*
*.rdf
tree_*.cnf
vscode_local_extensions/extensions.json
