
!CNF1.0
This is the main configuration file for the LifeLog applications settings.
https://github.com/wbudic/LifeLog
This is an Open Source License project -> https://choosealicense.com/licenses/isc/
Credential format:<<AUTO_LOGIN <{alias}/{password}> , don't enable here using AUTO_LOGIN option bellow, use config in app.
<<AUTO_LOGIN</>
# BACKUP_ENABLED -> Enable (1), disable (0) backups to be restored from config page.
<<BACKUP_ENABLED<1>
# Default database driver prefix, is SQLite.
<<DBI_DRV_PRFIX<DBI:SQLite:dbname=>
<<CONFIG<4>
00|$RELEASE_VER = 2.1`LifeLog Application Version.
01|$REC_LIMIT   = 25`Records shown per page.
03|$TIME_ZONE   = Australia/Sydney`Time zone of your country.
05|$PRC_WIDTH   = 80`Default presentation width for pages.
08|$LOG_PATH    = ../../dbLifeLog/`Path to folder containing data.
10|$SESSN_EXPR  = +30m`Login session expiration time setting, can be minutes or hours.
12|$DATE_UNI    = 0`Setting of how dates are displayed, universal yyyy-mm-dd or local dd-mm-yyyy.
14|$LANGUAGE	= English`Default language locale.
18|$IMG_W_H     = 210x120`Default embedded image width.
20|$AUTO_WRD_LMT= 200`Autocomplete word gathering limit.
22|$AUTO_LOGIN  = 0`Autologin option, that expires only if login out. Enter Credentials in main.cnf.
24|$FRAME_SIZE  = 0`Youtube frame size settings, 0 - Large, 1 - Medium, 2- Small.
26|$RTF_SIZE    = 2`RTF Document height, 0 - Large, 1 - Medium, 2- Small.
28|$THEME       = Standard`Theme to applay, Standard, Sun, Moon, Earth.
30|$DEBUG       = 0`Development page additional debug output, off (default) or on.
32|$KEEP_EXCS   = 0`Cache excludes between sessions, off (default) or on.
34|$VIEW_ALL_LMT=1000`Limit of all records displayed for large logs. Set to 0, for unlimited.
36|$TRACK_LOGINS=1`Create system logs on login/logout of Life Log.
38|$COMPRESS_ENC=0`Compress Encode pages, default -> 0=false, 1=true.
40|$SUBPAGEDIR  =docs`Directory to scan for subpages like documents.
<<CAT<3>
01|Unspecified `For quick uncategorised entries.
03|File System `Operating file system/Application short log.
06|System Log  `Operating system important log.
09|Event       `Event that occurred, meeting, historically important.
28|Personal    `Personal log of historical importance, diary type.
32|Expense     `Significant yearly expense.
35|Income      `Significant yearly income.
40|Work        `Work related entry, worth monitoring.
45|Food        `Quick reference to recipes, observations.
50|Music       `Music reference of interest. Youtube embbed.
52|Sport/Club  `Sport or Social related entry.
55|Cars        `Car(s) related entry.
60|Online      `Online purchases (ebay, or received/ordered from online source).
88|Diary       `Diary specific log and entry. Your daily yaddi-yadda that have decided to place here.
90|Fitness     `Fitness steps, news, info, and usefull links. Ammount is steps.
<<MIG<>
NOTES|DROP TABLE NOTES;' ver. 1.5 fts4 virtual tables have been scratched as they require special SQLite compilation.
LOG<5>|Run Query ' ver. 1.5

//ALTER TABLE LOG RENAME AMMOUNT TO AMOUNT;

CREATE TABLE life_log_temp_table AS SELECT * FROM LOG;
DROP TABLE LOG;
//CREATE TABLE LOG ( ID_CAT TINY NOT NULL, DATE   DATETIME    NOT NULL, LOG    VCHAR (128) NOT NULL,  AMOUNT INTEGER,  AFLAG TINY DEFAULT 0, RTF BOOL DEFAULT 0);
CREATE TABLE LOG (
    ID_CAT TINY        NOT NULL,
    DATE   DATETIME    NOT NULL,
    LOG    VCHAR (128) NOT NULL,
    AMOUNT INTEGER,
    AFLAG TINY DEFAULT 0,
    RTF BOOL DEFAULT 0
);

INSERT INTO LOG (
                    ID_CAT,
                    DATE,
                    LOG,
                    AMOUNT
                )
                SELECT ID_CAT,
                       DATE,
                       LOG,
                       AMOUNT
                  FROM life_log_temp_table;

DROP TABLE life_log_temp_table;
PRAGMA foreign_keys = 1;

%INCOME_ID% = SELECT ID FROM CAT WHERE CAT.NAME LIKE 'Income';
%EXPENSE_ID% = SELECT ID FROM CAT WHERE CAT.NAME LIKE 'Income';



UPDATE LOG SET AFLAG=1 WHERE ID_CAT=%INCOME_ID%;
UPDATE LOG SET AFLAG=2 WHERE ID_CAT=%EXPENSE_ID%;

LOG<6>|Run Query ' ver. 1.6
ALTER TABLE LOG ADD STICKY BOOL DEFAULT 0;

LOG<6>|Run Query ' ver. 1.8

CREATE TABLE notes_temp_table (LID INTEGER PRIMARY KEY NOT NULL, DOC TEXT);
INSERT INTO notes_temp_table SELECT `LID`,`DOC` FROM `NOTES`;
DROP TABLE `NOTES`;
ALTER TABLE `notes_temp_table` RENAME TO `NOTES`;
