!CNF2.0
This is the main configuration file for the LifeLog applications settings.
https://github.com/wbudic/LifeLog
This is an Open Source License project -> https://choosealicense.com/licenses/isc/

# Credential format:<<AUTO_LOGIN <{alias}/{password}>>> , to enable AUTO_LOGIN option bellow,
 the config in app, has to also be enabled.
<<AUTO_LOGIN<>>>
# BACKUP_ENABLED -> Enable (1), disable (0) backups to be restored from config page.
<<BACKUP_ENABLED<1>>>

# Default database driver prefix, is SQLite.
Note Remove -> '!' prefix to tag name, to enable, set,
and override any previously set from now on, top to end of file approach.
# SQLite DB driver. 
<<DBI_SOURCE<DBI:SQLite:>>>
# ProgresSQL DB driver. 
<<!DBI_SOURCE<DBI:Pg:host=localhost;>>>

# LOG actual variable size limit, - 1024 default, 128 minimum value. 
<<DBI_LOG_VAR_SIZE<8024>>>

# Set the following to an database name, with external managed multiple users, that are to connect to a single database.
# Users have to be externally set, and alias is then used for their userid to be able to login. (Add user roles to AUTH table).
# By default this setting is disabled with 0, making alias name, its own log database, per user.
<<DBI_MULTI_USER_DB<>>>

# Timezoning, if set to 1, country locale setting for timezone in config page is ignored.
<<AUTO_SET_TIMEZONE<0>>>

# Public, enabled list of categories. Remove -> '!' prefix before tag name, to enable. Be careful what category you add/enable here.
# Public records view feature only, it doesn't allow new log entries to be added and have pin point searching of all existing.
<<!PUBLIC_CATS<03,06,09>#File,System log and Event.
# Following is similar to AUTO_LOGIN setting above, and must be set.
<<!PUBLIC_LOGIN</>>>
<<TIME_ZONE_MAP<
Australia/Marsfield=Australia/Sydney
Australia/Bondi=Australia/Sydney
America/Austin=America/Chicago
America/Texas=America/Chicago
>>

<<PLUGINS<
HelpPlugin->help.pl
BankingPlugin->banking.pl
>>

# @See help at bottom of config for all the following.

<<!PAGE_VIEW_EXCLUDES<0=88,6,69>>> <- (Diary,System Log,Poetry) category id's only, does set in the config page also work.
<<!VIEW_OVERRIDE_SYSLOGS<0>>>
<<!VIEW_OVERRIDE_WHERE<ID_CAT>=6 AND >>>


<<CONFIG<4>
00|$RELEASE_VER = 2.2`LifeLog Application Version.
01|$REC_LIMIT   = 25`Records shown per page.
03|$TIME_ZONE   = Australia/Sydney`Time zone of your country and city.
05|$PRC_WIDTH   = 80`Default presentation width for pages.
08|$LOG_PATH    = ../../dbLifeLog/`Path to folder containing data.
10|$SESSN_EXPR  = +30m`Login session expiration time setting, can be seconds, minutes or hours.
12|$DATE_UNI    = 0`Setting of how dates are displayed, universal yyyy-mm-dd or local dd-mm-yyyy.
14|$LANGUAGE	= English`Default language locale.
18|$IMG_W_H     = 210x120`Default embedded image width.
20|$AUTO_WRD_LMT= 1024`Autocomplete word gathering limit.
22|$AUTO_LOGIN  = 0`Autologin option, that expires only if login out. Enter Credentials in main.cnf.
24|$FRAME_SIZE  = 0`Youtube frame size settings, 0 - Large, 1 - Medium, 2- Small.
26|$RTF_SIZE    = 2`RTF Document height, 0 - Large, 1 - Medium, 2- Small.
28|$THEME       = Standard`Theme to apply, Standard, Sun, Moon, Earth.
30|$DEBUG       = 0`Development page additional debug output, off (default) or on.
32|$KEEP_EXCS   = 0`Cache excludes between sessions, off (default) or on.
34|$VIEW_ALL_LMT=1000`Limit of all records displayed for large logs. Set to 0, for unlimited.
36|$TRACK_LOGINS=1`Create system logs on login/logout of Life Log.
38|$COMPRESS_ENC=0`Compress Encode pages, default -> 0=false, 1=true.
40|$SUBPAGEDIR  =docs`Directory to scan for subpages like documents.
42|$DISP_ALL    = 1`Display whole log entry, default -> 1=true, 0=false for display single line only.
>>
<<CAT<3>
01|Unspecified `For quick uncategorized entries.
03|File System `Operating file system/Application short log.
06|System Log  `Operating system important log.
09|Event       `Event that occurred, meeting, historically important.
28|Personal    `Personal log of historical importance, diary type.
32|Expense     `Significant yearly expense.
35|Income      `Significant yearly income.
40|Work        `Work related entry, worth monitoring.
45|Food        `Quick reference to recipes, observations.
50|Music       `Music reference of interest. Youtube embbed.
52|Sport/Club  `Sport or Social related entry.
55|Cars        `Car(s) related entry.
60|Online      `Online purchases (ebay, or received/ordered from online source).
88|Diary       `Diary specific log and entry. Your daily yaddi-yadda that have decided to place here.
90|Fitness     `Fitness steps, news, info, and useful links. Amount is steps.
>>
<<MIG<>
NOTES|DROP TABLE NOTES;' ver. 1.5 fts4 virtual tables have been scratched as they require special SQLite compilation.
LOG<5>|Run Query ' ver. 1.5

## HELP SECTION ON OPTIONS


   Global view overrides. These get generated in the db if set on logon. And used instead of the normal data view.
   Overrides must always show todays log entries, regardless of criteria.
   Overrides don't affect category and keywords desired searches and views. They are mainly useful to filter out 
   the not required to see on the main pages.
   NOTE - These settings AND on VW_LOG_WITH_EXCLUDES if they are set. VW_ prefix signifies, database view, 
   meaning this will be created. Based on the settings bellow you make. An interesting concept, don't you think?

### PAGE_VIEW_EXCLUDES

 Setting to modify the page view to exclude older log entries by a list of categories from today minus days back.
 This is to avoid and page only list relevant logs on logon. Searching by category will list them and still make visible.
 value: {days=}{category id},.. days default to zero, if you don't want from yesterday to the past category entries listed.

<<!PAGE_VIEW_EXCLUDES<0=88,6,69> <- (Diary,System Log,Poetry) category id's only, does set in the config page also work.


### VIEW_OVERRIDE_SYSLOGS overrides not to show system logs that are older than today. Same to CAT!=6 by default,
# Default is 0, disabled.

### VIEW_OVERRIDE_WHERE 

 This option overrides what log entries to filter out from the page view, in more detail.
 It translated via keywords to appropriate required SQL. This filter by default is
 not active on 24 hours old entries. PAGE_VIEW_EXCLUDES option entries are included.

#### CAT is the ID_CAT column, keyword.
* i.e VIEW_OVERRIDE_WHERE<CAT >= 6>, selects all categories from and category id 6. 
PAGE_VIEW_EXCLUDES and VIEW_OVERRIDE_SYSLOGS don't have to be set. But preside if set.

#### AND/OR keyword, logically joins the instructions.
* i.e VIEW_OVERRIDE_WHERE< CAT > 6 AND CAT != 'Personal' >, selects all categories from 
category id 6, excluding resolved category entries.

#### OLDER_THAN keyword translates to date column older than from today up to an specified date in the past.
* This is assigned by either months, days, hours. 
** i.e VIEW_OVERRIDE_WHERE<CAT !=6 AND OLDER_THAN=2 months>, this instructs skip older then to months logs and all sys logs.

#### FROM/TO in either months, days, hours.
* Selects only FROM or TO an specified date only log entries.
** i.e VIEW_OVERRIDE_WHERE<FROM=12 hours AND NOT OLDER_THAN=1 year>

#### NOT keyword, logically negates.
** i.e VIEW_OVERRIDE_WHERE<RTF>, select only log entries that contain attached RTF documents, if they
are older than 24 hours. Remember, the default filtering is on 24 hour and older log entries.
** i.e VIEW_OVERRIDE_WHERE<NOT RTF>, don't select log entries that contain attached RTF documents.
** i.e VIEW_OVERRIDE_WHERE<CAT NOT 'Diary' AND CAT NOT 'System Log' AND DATE FROM=24 days AND NOT OLDER_THAN=1 year>, 
category is not (!=), resolved category id by name. And also exclude all logs older than an year. 
All is FROM to OLDER_THAN, affected. So from today (now) to FROM 'will' be paged, visible.