body{
    font-family: Segoe UI,Helvetica,Bookman,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    background-image: url('images/page-bck-std.png');
    margin: 0; 
    padding:0;  
}
p {
    font-family: Bookman;
    margin-left: 70px;
    font-weight: normal;    
}
pre{
    color: #070707;
    text-align:left;
    background-color: gainsboro;
    opacity: 5;
    overflow-x:auto;
}
table,
th,
td {    
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

div {    
    text-align: center;    
}

#div_log {
    font-weight: bold;
}
#div_srh {
    text-align: center;
    vertical-align: middle;
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

TABLE,
th,
.tbl {
    border: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.tbl_rem {
    border: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

#cat_desc {
    position: absolute;
    border: 2px solid #94cde7;
    padding: 5px;
    text-align: center;
    background: #ccffff;
    margin-top: 15px;
    margin-left: 200px;
    width: 400px;
    text-decoration-style: wavy;

}

.span_cat {
    font-family: Bookman;
    border: 1px solid #b2f8ef;
    border-bottom: solid #42e4fa 1px;
    border-style: inset;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    width: auto;
}

#cat_lst {
    visibility: hidden; 
}

.r0 {
    background-color: #e6ffff;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r0.hover{
    background-color: #b7f3f3;
}
.r1 {
    background-color: #ccffff;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r1.hover{
    background-color: #b7f3f3;
}


.r2 {
    background-color: #ccfff0;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r3 {
    background-color: #b2f8ef;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.rz {
    border: 1px solid black;
    text-align: left;
    background-color: #e6ffff;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    padding: 2%;
    margin: 0px auto;
}
.login {
    
    vertical-align: middle; text-align:center; width: 60% !important;    
    background-repeat: no-repeat;
    background:#b2f8ef url('images/std--login-bck.png');
    opacity: 1;
}
div#rz {
    border: 1px solid black;
    text-align: left;
    background-color: #e6ffff;
    color: #000;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    padding: 2px;
    margin: 0px auto;
}
.hdr {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    background-color: #98e6e6;
    border: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
}

.edit {
    margin: 2px;
    padding: 2px;
    font-size: 9pt;
    color: #191970
}

#al {
    align-items: left;
    align-content: left;
    text-align: left;
}

.log {
    max-width:550px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    padding-left: 5px;            
    overflow-y:hidden;
}


.log::-webkit-scrollbar {
    -webkit-appearance: none;
}

.log::-webkit-scrollbar:vertical {
    width: 12px;
}

.log::-webkit-scrollbar:horizontal {
    height: 12px;
}

.log::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


#tag_FRM {
    border: 2px solid #94cde7;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}

img {
    float: left;
    padding: 0 10px
}

#menu {
    position: fixed;
    float: left;
    margin: 0;
    border: 2px solid #94cde7;
    padding: 5px;
    text-align: center;
    background: #ccffff;
    margin-left: 91%;
}

#frm_login {
    vertical-align: middle;
    margin: 0;
}



.ui-button,
.ui-button-text .ui-button {
    font-size: 12px !important;    
}

.ui-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: block;
    width: 227px;
    text-align: left;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 200px;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}
.ui-icon{
    float:right;
}

#standalone-container {
    margin-top: 5px;
    border: 1px solid black;
}

#editor-container {
    height: 140px;
    max-height: 480px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #e6ffff;
}

#toolbar-container {
    border: 1px solid black;
    background-color: #98e6e6;
    margin-bottom: 3px;
}

.save_button {
    margin-top: 3px;
    float: right;
}

#btnRTF {
    float: right;
    
}

.midnight{
    color:midnightblue;
}
a:link {
 color: #3e6f70
}
a:visited {
 color: #472f80;
}
a:hover {
    color: #ff4d21;
    font-style:normal;
}
a:active {
    color: #1eff00;
}
#sss_status{
    font-size: smaller;
    font-style: italic;
    color:darkslateblue;
    background-color:darkturquoise;
    padding:5px;
    opacity: 1;
}

 #sss_expired a{
    font-size: large;
    font-style: normal;
    font-weight: bold;
    color:crimson;
    padding:15px
}

.hover{
    background-color: #69f0f0;
}

#lcat{ margin: 0; padding: 5px;}

.debug_output {
    font-size:smaller;
    background-color:darkturquoise;
    text-align: left;
    font-family: monospace;    
    opacity: 8;
    padding: 5px;
}