body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Bookman,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    margin: 0;
    padding:0;
}
.content {
    background-image: url('images/page-bck-earth.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding:0;
}
p {
    font-family: Bookman;
    margin-left: 70px;
    font-weight: bold;
}
pre{
    color: #070707;
    text-align:left;
    background-color: gainsboro;
    opacity: 5;
}
table,
th,
td {
    font-family: Bookman;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
}

div {
    font-family: Bookman;
    text-align: center;
    vertical-align: middle;
}

#div_log {
    font-weight: bold;
}
#div_srh {
    text-align: center;
    vertical-align: middle;
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

TABLE,
th,
.tbl {
    border: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.tbl_rem {
    border: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

#cat_desc {
    position: absolute;
    border: 2px solid #7a3d03;
    padding: 5px;
    text-align: center;
    background: #d1663c;
    color: #d8d8d8;
    margin-top: 20px;
    margin-left: 200px;
    width: 280px;
    text-decoration-style: wavy;
}

.span_cat {
    font-family: Bookman;
    border: 1px solid #7a3d03;
    border-style: inset;
    padding: 2px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
    width: auto;
}

#cat_lst {
    visibility: hidden;
}

.r0 {
    background-color: #d1663c;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r1 {
    background-color: #a5682f;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r2 {
    background-color: #e97f56;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.r3 {
    background-color: #ee9440;
    border: 1px solid black;
    border-right: 1px solid black;
    vertical-align: top;
}
.rz {
    border: 1px solid black;
    text-align: left;
    background-color: #4d9b46;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    padding: 2%;
    margin: 0px auto;
}
.login {
    vertical-align: middle; text-align:center; width: 60% !important;
    background-image:repeating-radial-gradient(cyan, green, brown)
}
div#rz {
    border: 1px solid black;
    text-align: left;
    background-color: #6ed16e;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    padding: 2px;
    margin: 0px auto;
}
.hdr {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    background-color: #7a3d03;
    border: 1px solid #16380f;
    border-right: 1px solid black;
    text-align: center;
}

.edit {
    margin: 2px;
    padding: 2px;
    font-size: 9pt;
    color: midnightblue
}

#al {
    align-items: left;
    align-content: left;
    text-align: left;
}

.log {
    max-width:550px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    padding-left: 5px;
    overflow-y:hidden;
}


.log::-webkit-scrollbar {
    -webkit-appearance: none;
}

.log::-webkit-scrollbar:vertical {
    width: 12px;
}

.log::-webkit-scrollbar:horizontal {
    height: 12px;
}

.log::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}


#tag_FRM {
    border: 2px solid #07750d;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}

img {
    float: left;
    padding: 0 10px
}

#menu {
    position: fixed;
    float: left;
    margin: 0;
    border: 2px solid #23771c;
    padding: 5px;
    text-align: center;
    background: #c28a4a;
    margin-left: 91%;
}


#frm_login {
    vertical-align: middle;
    margin: 0;
}



.ui-button,
.ui-button-text .ui-button {
    font-size: 12px !important;
    background: #b5e7a1 !important;
}

.ui-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: block;
    width: 227px;
    text-align: left;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 200px;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}
.ui-icon{
    float:right;
}

#standalone-container {
    margin-top: 5px;
    border: 1px solid black;
}

#editor-container {
    height: 140px;
    max-height: 480px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #98e6e6;
}

#toolbar-container {
    border: 1px solid black;
    background-color: #98e6e6;
    margin-bottom: 3px;
}

.save_button {
    margin-top: 3px;
    float: right;
}

#btnRTF {
    float: right;
}
.midnight{
    color:#adeccc;
}


a:link {
    color:#f8f868;
  }
  a:visited {
    color: #d2d8d2;
  }
  a:hover {
    color: #04f87e;
  }
  a:active {
      color: #ff7b00;
  }

  #sss_status{
    font-size: smaller;
    font-style: italic;
    background-color: #c0a873;
    color:lawngreen;
    padding:5px;
  }


 #sss_expired a {
    font-size: large;
    font-style: normal;
    font-weight: bold;
    background-color: #26be54;
    color:crimson;
    padding:15px
}
.hover{
    background-color: #335757;
}
#lcat{ margin: 0; padding: 5px;}
.debug_output {
    font-size: large;
    background-color:#c0a873;
    text-align: left;
    font-family: monospace;
}