body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Bookman,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    background-image: url('images/page-bck-moon.png');
    margin: 0;
    padding:0;
}
.content{
    background-image: url('images/page-bck-moon.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding:0;
    height: 100vh;
}
p {
    font-family: Bookman;
    margin-left: 70px;
    font-weight: bold;
}

pre{
    color: #070707;
    text-align:left;
    background-color:#ff7b00 ;
    opacity: 5;
    overflow-x:auto;
}

table,
th,
td {
    font-family: Bookman;
    border-collapse: collapse;
    padding: 5px;
    margin: auto;
    color: #d8d8d8;
}

div {
    font-family: Bookman;
    text-align: center;
    vertical-align: middle;
    color: #d8d8d8;
}

#div_log {
    font-weight: bold;
}
#div_srh {
    text-align: center;
    vertical-align: middle;
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

TABLE,
th,
.tbl {
    border: 1px solid white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.tbl_rem {
    border: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
}

#cat_desc {
    position: absolute;
    border: 2px solid #9bb6c3;
    padding: 5px;
    text-align: center;
    background: #0f0f0f;
    color: #d8d8d8;
    margin-top: 20px;
    margin-left: 200px;
    width: 280px;
    text-decoration-style: wavy;
}
.span_cat {
    border:1px solid #9bb6c3;
    border-style: outset;
    padding: 2px;
    padding-right: 5px;
    width: 180px;
}

#cat_lst {
    visibility: hidden;
}

.r0 {
    background-color: #535353;
    border: 1px solid white;
    border-right: 1px solid white;
    vertical-align: top;
    color:black;
}
.remember{ background-color:#553232;}
.r0.hover{
        background-color: #724242;
}
.r1 {
    background-color: #272626;
    border: 1px solid white;
    border-right: 1px solid white;
    vertical-align: top;
    width: fit-content;
}
.r1.hover td div{
        background-color: #b4a9a9;
        color:#323232;
}
.r2 {
    background-color: #636969;
    border: 1px solid white;
    border-right: 1px solid white;
    vertical-align: top;
}
.r3 {
    background-color: #918383;
    border: 1px solid white;
    border-right: 1px solid white;
    vertical-align: top;
}
.rz {
    border: 1px solid white;
    text-align: left;
    background-color: #363531;
    color: #cfcfe6;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    margin: 0px auto;
    padding:10px;
}
.login {

    vertical-align: middle; text-align:center; width: 60% !important;
    background-repeat: no-repeat;
    background:#64614e7a;
}
div#rz {
    border: 1px solid white;
    text-align: left;
    background-color:#363531;
    color:#f3f0e6;
    vertical-align: top;
    align-self: baseline;
    height: auto;
    padding: 2px;
    margin: 0px auto;
}

.hdr {
    font-style: normal;
    font-weight: bold;
    font-size: large;
    background-color: #55555F;
    border: 1px solid white;
    border-right: 1px solid white;
    text-align: center;
}

.edit {
    margin: 2px;
    padding: 2px;
    font-size: 9pt;
    color: #aeaee4;
}

#al {
    align-items: left;
    align-content: left;
    text-align: left;
}

.log {
    max-width:550px;
    text-align: left;
    word-wrap: break-word;
    white-space: normal;
    padding-left: 5px;
    overflow-y:hidden;
}


.log::-webkit-scrollbar {
    -webkit-appearance: none;
}

.log::-webkit-scrollbar:vertical {
    width: 12px;
}

.log::-webkit-scrollbar:horizontal {
    height: 12px;
}

.log::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

#tag_FRM {
    border: 2px solid #2b3d46;
    padding: 5px;
    text-align: right;
    vertical-align: top;
}

img {
    float: left;
    padding: 0 10px
}


#menu {
    position: fixed;
    float: left;
    margin: 0;
    border: 2px solid #9bb6c3;
    padding: 5px;
    text-align: center;
    margin-left: 90%;
    color: white;
    background-color: #363531;
}

#frm_login {
    vertical-align: middle;
    margin: 0;
}



.ui-button,
.ui-button-text .ui-button {
    font-size: 12px !important;
}

.ui-menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: block;
    width: 227px;
    text-align: left;
}

.ui-menu .ui-menu {
    margin-top: -3px;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 200px;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: .2em .4em;
    line-height: 1.5;
    zoom: 1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}
.ui-icon{
    float:right;
}

#standalone-container {
    margin-top: 5px;
    border: 1px solid white;
}

#editor-container {
    height: 140px;
    max-height: 480px;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    background-color: #363531;
}

#toolbar-container {
    border: 1px solid white;
    background-color: rgb(180, 169, 169);
    margin-bottom: 3px;
}

.save_button {
    margin-top: 3px;
    float: right;
}

#btnRTF {
    float: right;
}

.midnight{
   color:#f8f868;
}

a:link {
  color:#f8f868;
}
a:visited {
  color: #d2d8d2;
}
a:hover {
  color: #04c7f8;
  font-style:normal;
}
a:active {
    color: #ff7b00;
}

#sss_status{
    font-size: smaller;
    font-style: italic;
    background-color:#9bb6c3;
    color: #724242;
    padding:5px;
}

 #sss_expired a{
    font-size: large;
    font-style: normal;
    font-weight: bold;
    background-color:#9bb6c3;
    color:crimson;
    padding:15px
}
.hover{
    background-color: #8d8d83;
}
#lcat{ margin: 0; padding: 5px;}

.debug_output {
    font-size:smaller;
    color: rgb(105, 15, 15);
    background-color:#9bb6c3;
    text-align: left;
    font-family: monospace;
    opacity: 8;
    padding: 5px;
}