[type="submit"] {
	clear: left;
	margin: 10px 0 0 30px;
	font-size:12px
}

p {
	margin-left: 70px;
	font-weight: bold;
}

table {
	    border-collapse: collapse;

}

table, th, td{
 width: 660px;
 border: 1px solid black;
}

.tbl {
 border: 1px solid black;
	background-color: #e6fff2;
}

#r0{
	background-color: #e6ffff;
}

#r1{
	background-color: #ccffff;
}

.entry, th, td{
 width: 660px;
 border: 0px;
 border-collapse: collapse;
}
#frm{
	padding: 5px;
}

#log{
	width:82px;
	text-align: justify;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
}

.edit{
	margin: 0;
	padding 1px;
	font-size:7pt;
	border=:0px;
}
