!CNF2.8

<<@<%HTTP_HEADER>
-charset =   "UTF8"
-expires =   "+5s"
>>

<<HEADER<TREE> _HAS_PROCESSING_PRIORITY_

[JS[
    [@@[wsrc/main.js]@@]
    [@@[wsrc/feeds.js]@@]
    [@@[wsrc/jquery.js]@@]
    [@@[wsrc/jquery-ui.js]@@]
]JS]
[CSS[
    [@@[wsrc/main.css]@@]
    [@@[wsrc/effects.css]@@]
    [@@[wsrc/feeds.css]@@]
    [@@[wsrc/jquery-ui.css]@@]
    [@@[wsrc/jquery-ui.theme.css]@@]
    [@@[wsrc/jquery-ui.theme.css]@@]
]CSS]

<STYLE<
[#[
    #container{
        border: 2px solid #00000017;
        width: 78%;
        margin: 0 auto;
        padding: 0px;
    }

    #header {
        border: 1px solid gray;
        background: rgba(128,128,128,0.2);
        margin:5px;
    }

    #content {
        border: 1px solid gray;
        text-align: left;
        vertical-align: middle;
        margin:5px;
        background: rgba(128,128,128,0.2);
    }

    #content ul {
        padding-left: 20px;
    }
    #content li {
        padding: 0px;
        margin-left:30px;
    }

    #content li a:link {
        font-weight: normal;
        color:rgb(26, 96, 111);
    }

    #content li a:hover {
        color: #ff4d21;
        font-weight: bolder;
        background: rgba(255,255,255,0.2);
    }

    #content li a:visited {
     color:  rgb(136, 58, 200);
     font-weight: bold;
    }


    #footer {
        border: 1px solid gray;
        background: rgba(128,128,128,0.2);
        margin:5px;
    }


    .md_doc {
        background: white;
        border: 1px solid gray;
        padding: 10px; margin: 5px;
        text-align: left;
    }

    .md_doc ul{
        font-size: large;
    }

    .md_doc p{
        margin: 0 auto;
        padding: 5px;
        vertical-align: left;
        text-align: left;
        font-weight: normal;
    }

    .md_doc blockquote  {
        margin-top: 0;
        margin-bottom: 16px;
        background:#b2f8ef;
        border-left: 3px solid #94cde7;
        border-top:  2px solid #94cde7;
        border-right:  2px solid #94cde7;
    }
    .md_doc blockquote  > :last-child{
        border-bottom:  2px solid #94cde7;
    }

    .div_img{
        height:450px;
    }

    .md_img{
        height:80%;
    }

    code, pre{
       font-family: 'Droid Sans Mono', 'monospace', monospace;
    }

    .pre {
        border:1px solid black;
        background: rgba(255,255,255,0.2);
        padding:15px;
        text-align: left;
    }
    .sh{
        background: black;
        color: lightgreen;
        padding: 15px;
        width: auto;
        border-radius: .32em;
        border: 2px solid lightgreen;
        margin: inherit;
        margin-right: 30px;
    }

    div .html {
        border:1px solid lightgray;
        background: rgba(255,255,255,0.2);
        padding:10px;
        font-family:monospace;
        text-align: left;
    }

    div .cnf {
        border:1px solid lightgray;
        background: rgba(255,255,255,0.2);
        padding:10px;
        font-family:monospace;
        text-align: left;
        padding-bottom: 10px;
        margin-right: 30px;
        margin-top: 15px;
    }

    .cnf h1{
        text-align: left;
        padding-left: 15px;
        margin-top: -20px;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
    }

    .cnf h1 span{
        background-color: white;
        border:1px solid lightgray;
        color:lightgray;
        font-size:small;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }


    div .perl {
        border:1px solid lightgray;
        background:  rgba(149, 215, 172, 0.2);
        padding-left:15px;
        font-family:monospace;
        text-align: left;
        padding-bottom: 20px;
        margin-right: 30px;
        margin-top: 15px;
    }

    .perl h1{
        text-align: left;
        padding-left: 15px;
        margin-top: -10px;
        height: 20px;
        line-height: 20px;
        font-size: 15px;
    }

    .perl h1 span{
        background:  rgba(170, 227, 191, 0.75);
        border:1px solid lightgray;
        color:black;
        font-size:small;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .span_status {
        position: absolute;
        top: 80px; left:420px;
        border: 2px solid #94cde7;
        padding: 5px;
        text-align: center;
        background: #ccffff;
        text-decoration-style: wavy;
        filter: drop-shadow(    10px 8px 5px #3e6f70);
    }

]#]
>STYLE>

<STYLE<
    <*<MarkdownPlugin::CSS>*>
>STYLE>

<SCRIPT<
[#[
function onIndexBodyLoad(){
    console.log("Initiated page.");
    $("#status").html("Index page is ready!").show();
    $("#status").fadeOut(2000);
    $("#content a").click(
        function(e){
            e.preventDefault();
            e.target.setAttribute("style","color:  rgb(136, 58, 200);font-weight: bolder;font-style: italic");
            $("#status").html("Loading: " + e.target.href).show().fadeOut(3000);
            $.post('index.cgi', {action:'load', doc:e.target.getAttribute('href')}, loadDocResult).fail(
                    function(response) {$('#doc_display').html("Service Error: "+response.status,response.responseText)}
            );
        }
    );
    $("#content a").prop("visitied",false);
    onBodyLoadGeneric();
}
function loadDocResult(content){
    $('#doc_display').html(content);
    $(document).scrollTop($("#doc_display").offset().top);
}
]#]
>SCRIPT>

>>HEADER>TREE>



###
# We in plugin mainly access this PAGE property, <*<HEADER>*> is linked in for clarity,
# and/or if want to change from keeping the original \<\<HEADER<TREE>...\>\> above.
#
<<PAGE<TREE>

 <*<HEADER>*>

 Title: Index Page
 OnLoad : onIndexBodyLoad()

<div<
    id:menu_page
 <#<
    <span class="menu_head">
        <a id="to_bottom" href="#bottom" title="Go to bottom of page."><span class="ui-icon ui-icon-arrowthick-1-s" style="float:none;"></span></a>
                &nbsp; Page &nbsp;
        <a id="to_top" href="#top" title="Go to top of page.">
        <span class="ui-icon ui-icon-arrowthick-1-n" style="float:none;"></span></a>
    </span>
    <hr>
    <a class="ui-button ui-corner-all ui-widget" href="index.cgi">Index</a><hr>
    <a class="ui-button ui-corner-all ui-widget" href="main.cgi">Life Log</a><hr>
    <a class="ui-button ui-corner-all ui-widget" onclick="return fetchFeeds()">RSS Feeds</a>

>#>
 >div>

 <div<
    id:container
        <div<
            id:header
        <*<PAGE_HEAD>*>
                                                    <a<
                                                        name: top
                                                    >a>
        >div>
        <div<
             id:content_pane
            <span<
              id:status
              class:span_status
              <#<Page getting ready...>#>
            >span>
            <div<
                id:content
                <*<PAGE_CONTENT>*>
            >div>
            <div<
            id:doc_display
            class:md_doc
                <*<INFO_MD>*>
            >div>
            <div<
                id="feeds"
                class="rz"
                style ="margin: 5px; visibility:hidden"
                [#[ RSS Here ]#]
            >div>
            <a<
                id: rss_anchor
            >a>
        >div>
        <div<
            id:footer
            <*<PAGE_FOOT>*>
            <span<&#8971;&#8593;>span>
                        <a<
                            id:code
                            href:#top
                            title:Go to top of page.
                            <#<To Top Of Page>#>
                        >a>
    <span<&#8968;>span>
                                                        <a<
                                                            name: bottom
                                                        >a>
        >div>
 >div>
    <!<Page brought to you by HTMLIndexProcessorPlugin, from the PerlCNF project.>!>
>>PAGE>TREE>


<<INFO_MD<ESCAPED>

**Now, if you please, select a link from the directory listing above.**

### INFO
\> This Page is the Documentation listing coming with the [LifeLog](https://github.com/wbudic/LifeLog) Application.
\>
\>[Open Source License](https://choosealicense.com/licenses/isc/)

<center>Page brought to you by HTMLIndexProcessorPlugin v.<*<HTMLIndexProcessorPlugin::VERSION>*> in Moon Stage (beta).</center>

>>

<<CNF_TO_HTML<PLUGIN>
    package     : HTMLIndexProcessorPlugin
    subroutine  : convert
    property    : PAGE
>>

<<INFO_MD_TO_HTML<PLUGIN> _HAS_PROCESSING_PRIORITY_
    package     : MarkdownPlugin
    subroutine  : convert
    property    : INFO_MD
>>
<<1>>

