
00|$RELEASE_VER = 1.3
01|$REC_LIMIT   = 25
03|$TIME_ZONE   = Australia/Sydney
05|$PRC_WIDTH   = 70
08|$LOG_PATH    = ../../dbLifeLog/
10|$SESSN_EXPR  = +30m
12|$DATE_UNI    = 0
14|$LANGUAGE	= English
18|$IMG_W_H     = 210x120

